svg.ct-chart-bar, svg.ct-chart-line{
    overflow: visible;
}
.ct-label.ct-label.ct-horizontal.ct-end {
    position: relative;
    justify-content: flex-end;
    text-align: right;
    transform-origin: 100% 0;
    transform: translate(-100%) rotate(-45deg);
    white-space:nowrap;
}

.special-outlined-right fieldset{
    margin-right:-1px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}